# dependencies
node_modules/

# environment variables
.env

# build files
dist/
build/

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# package locks (optional later if needed)
npm-debug.log*frontend/.env
node_modules
backend/node_modules
